.footer {
  background-color: #1b3544;
  margin-top: 150px;
  height: 220px;

  .container {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  &__img {
    margin-top: -130px;
  }

  &__heading {
    font-family: "PT Serif";
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  &__text {
    width: 359px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #e5e5e5;
    margin-top: -15px;
    margin-bottom: 20px;
  }

  &__hr {
    width: 330px;
    margin-left: -1px;
    background-color: #fff;
  }

  &__title {
    font-family: "PT Serif";
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  &__span {
    font-family: "PT Serif";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  &__comment {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
  }

  &__more {
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin-top: -10px;
  }
}

.hr {
    width: 1px;
    height: 51px;
    color: #fff;
}

.div_1 {
  display: flex;
  gap: 33px;
}

.div-1 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.div_2 {
  display: flex;
  gap: 31px;
  align-items: center;
  margin-top: -20px;
}
