@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Protest+Revolution&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Protest+Revolution&family=Public+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Protest+Revolution&family=Public+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@400;500;600&family=Protest+Revolution&family=Public+Sans&family=Roboto&display=swap");

.container {
  width: 1300px;
  padding: 10px 20px;
  margin: 0 auto;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

